<h4>Internal Server error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error : {{error.message}}</h5>
    <p class="text-weight-bold">Note : If you are seeing this error then Angular is not probably blame</p>
    <p>What to do next?</p>
    <ol>
        <li>open the chrome dev tool</li>
        <li>check the network tab</li>
        <li>check the failing request</li>
        <li>Examine url make sure it's correct</li>
        <li>Test the url via Postman </li>        
    </ol>
    <p> Following is the stack trace - this is where your investigation start!</p>
    <code class="mt-5" style="background-color: whitesmoke;" >{{error.details}}</code>
</ng-container>
